.html{
    font-size: 62.5%;
}
section{
    width: 76%;
    margin: auto;
}
.container{
    border: .1rem solid #000;
    text-align: center;
    color: #fff;
    font-family: cursive;
    background-image: radial-gradient(#000, rgb(85, 84, 84));
}
.btn-generate{
    border: .1rem solid ;
    width: 6.3rem;
    height: 2.4rem;
    margin: 1.2rem auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    border-radius: .5rem;
    background-image:linear-gradient(rgb(219, 79, 79), rgb(94, 64, 10));
}
.btn-generate p{
    margin:.5rem auto;
    text-align: center;
    font-size: 1rem;
    vertical-align: middle;
}
.btn-container :hover{
    height: 2.6rem;
    width: 6.5rem;
    color: #000;
}
.btn-container{
    display: flex;
    justify-content: center;    
    border: .1rem solid #000;
    margin: .2rem auto;

}
.flex-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: .1rem solid #000;
}
.flex-box-container img{
    box-shadow: .8rem 1rem 5rem #333;
    /* padding: .1rem; */
    margin: 1rem;
    border-radius: .4rem;
    width: 8rem;
    height: 6rem;
}






