html{
    font-size: 62.5%;
}

.flex-box-container-1{
    display: flex;
    /* background-image: linear-gradient(green, yellow); */
    border: .1rem solid black;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-box-container-1 div{
    padding: 1rem;
    display: flex;
    align-items: center;
    border: .1rem dotted black;
}

.container-1{
    border: .1rem solid black;
    margin: 3rem auto;
    text-align: center;
    width: 75%;
    padding: 10px;
}

.flex-box-conatiner-1 button:hover{
    box-shadow: .1rem;
}